/*corpo do site*/
body{
    margin: 0;
    box-sizing: border-box;
    height: 5000px;
    background-color: #19222c;
}

/*menu*/
.navegacao{    
    background-color:  #8CFF85;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 8%;
    z-index: 9;
}
.navegacao .Logo{
    color: rgb(255, 255, 255);
    float: left;
    display: block;
    padding: 14px 16px;
}
.navegacao a{
    color:#19222c;
    font-size: 18px;
    float: right;
    text-decoration: none;
    display: block;
    padding: 15px 16px;
    border: 5px;
    transition: 0.5s;
    height: 100%;
}
.navegacao a:hover{
   background: #19222c;
   transition: 0.8s;
   color: whitesmoke;
   cursor: pointer;
   border-radius: 1000px;
}

/*logotipo*/
.foto-perfil {
    border-radius: 100%;
    max-width: 200px;
    border: 5px solid #19222c;
    margin-top: 80px;
    margin-bottom: -20px;
    margin-left: 570px;
    margin-right: 505px;
    transition: 0.5s;
 }
 .foto-perfil:hover {
    background: whitesmoke;
    transition: 0.5s;
    border-radius: 1000px;
    border: 5px solid whitesmoke;
 }

/*nome do restaurante*/
.nome {
   color: whitesmoke;
   font-family: Poppins;
   text-align: center;
   font-size: 50px;
   font-weight:900;
   margin-bottom: 30px;
 }

/*slogan*/
.slogan {
    font-size: 25px;
    text-align: center;
    font-family: Poppins;
    color: whitesmoke;
    margin-bottom: 20px;
    position: relative;
    top: -40px;
    background-color: #8CFF85;
    margin-left: 150px;
    margin-right: 150px;
    color:#19222c;
    border-radius: 30px;
    
}
 /*titulos*/
.titulos {
   font-family: Poppins;
   text-align: right;
   font-size: 55px;
   padding: 10px;
   margin-right: 50px;
   color: whitesmoke;
   margin-top: 20px;
   text-align: center;
}

#lbl_about {
  text-align: center;
}

/*imagens em geral*/
.imagens {
   border-radius: 100%;
   max-width: 300px;
   border: 5px solid #19222c;
   margin-bottom: 30px;
   margin-left: 100px;
   transition: 0.5s;
}
.imagens:hover {
   background: #8CFF85;
   transition: 0.8s;
   border-radius: 1000px;
   border: 5px solid #8CFF85;
}

/*h3*/
h3 {
   font-family: Poppins;
   text-align: justify;
   font-size: 20px;
   margin-left: 50px;
   margin-right: 50px;
   color: whitesmoke;
}



/*sessão sobre*/
.sobre {
   text-align: justify;
   font-family: Poppins;
   font-size: 26px;
   margin-left: 100px;
   margin-right: 100px;
}
.frase {
   text-align: center;
   font-style: italic;
   font-size: 25px;
   color: whitesmoke;
}

/*sessão cardápio*/
.cardapio {
   color: whitesmoke;
   text-align: right;
   margin-right: 55px;
   font-family: Poppins;
   font-size: 35px;
}
.cardapio2 {
   color: whitesmoke;
   text-align:right;
   margin-right: 50px;
   font-family: Poppins;
   font-size: 15px;
}

.pratos{
   width:50%;
   position: relative;
   top: 50px;;
   float: right;
   text-align:start;
}

/*sessão receitas*/
.receitas {
   color: whitesmoke;
   text-align: left;
   margin-left: 100px;
   font-family: Poppins;
   font-size: 40px;
}

/*sessão unidades*/
.unidades {
   text-align: center;
   color: whitesmoke;
   font-family: Poppins;
   font-size: 30px;
}

/*sessão contatos*/
.tituloscontatos {
   font-family: Poppins;
   text-align: center;
   font-size: 55px;
   padding: 10px;
   color: whitesmoke;
}
 .contatos ul {
    list-style: none;
    background: #19222c;
    text-align: center;
    padding: 10px;
    margin: 0;
 }
 .contatos li {
    display: inline-block;
 }
 .contatos a {
    text-decoration: none;
    color: #19222c;
    width: 100px;
    display: block;
    padding: 15px;
    font-size: 17px;
 }
 .contatos a:hover {
    background: #19222c;
    transition: 0.5s;
    border-radius: 100px;
    border: 5px solid #19222c;
 }
 #receita1{
   width:40%;
   position: relative;
   top: 70px;;
   float: right;
 }
 #receita2{
   width:40%;
   position: relative;
   top: 80px;;
   float: right;
 }
/*email*/
 .email {
    text-align: justify;
    color: whitesmoke;
    font-size: 25px;
    font-family: Poppins;
    margin-bottom: 15px;
    width: 100%;
 }

 .endereco{
    width: 50%;
    display: inline-block;
    text-align: justify;

 }
 
 .endframe{
    margin-left: 5%;
    width: 100%;
    text-align: center;
 }

 /*formulário*/
#formulario{
   
   width: 420px;
   height: 360px;
   background-color: whitesmoke;
   text-align: center;
   border-radius: 10px;
   margin-left: 460px;
   margin-bottom: 40px;
}

form{
   width: 400px;
   border-radius: 5px;
}
#mensagem{
   height: 100px;
   width: 350px;
   margin-bottom: 5px;
}
.info{
   width: 350px;
   margin-bottom: 11px;
   
}
#titulos{
   margin-bottom: 5px; 
}

.info , form , #mensagem{
   border-radius: 5px;
}
button{
   width: 60px;
   height: 25px;
   border-radius: 10px;
   margin-left: 3px;
   margin-top: -10px;
}

/*fim*/
 .fim {
   color: whitesmoke;
   padding-top: 10px;
   padding-bottom: 20px;
   color: whitesmoke;
   font-size: 20px;
   text-align: center;
 }

 .home{
    height: 20vh;
    margin-bottom: 10vh;
 }

